# See http://help.github.com/ignore-files/ for more about ignoring files.

# miscnpm
.DS_Store

# production
build
sync

# user configs
*.userdb
installation.yaml
default.yaml
user.yaml
weasel.yaml
squirrel.yaml
